<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <queries>
    <package android:name="net.sourceforge.opencamera" />
  </queries>
  <application>
    <provider
      android:name=".JotterOpenCameraFileProvider"
      android:authorities="${applicationId}.jotteropencamera.fileprovider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/jotter_open_camera_file_paths" />
    </provider>
  </application>
</manifest>
